<div class="login-wrapper d-flex justify-content-center py-5" fxLayout="row" fxLayoutAlign="center center">

  <ng-container *ngIf="!appComponent.authUser">
  
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="register()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter name"  [formControl]="name">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter email"  [formControl]="email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter password"  [formControl]="password">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Re-enter password"  [formControl]="confirm_password">
      </div>

      <div class="form-group">
        <select class="form-control" [formControl]="role">
          <option *ngFor="let roles of Roles">{{roles}}</option>
        </select>
      </div>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>
    </form>
  </mat-card>
</ng-container>

</div>
