<form class="login-wrapper form-container" fxLayout="row" fxLayoutAlign="center center" #createCourese="ngForm" (ngSubmit)="createcourses(createCourese)">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Create Course</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter name"  [formControl]="name">
      </div>

      <div class="form-group">
        <select class="form-control" [formControl]="credit">
          <option>5</option>
          <option>10</option>
          <option>12</option>
          <option>15</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Lector"  [formControl]="lector">
      </div>

    </mat-card-content>

    <mat-card-actions>
      <a class="btn btn-secondary" href="#">Exit</a>&nbsp;
      <button mat-flat-button color="primary" class="btn btn-primary">Save changes</button>
    </mat-card-actions>
  </mat-card>
</form>